
@media (min-width:610px) {
    .navbar{
        margin-top: 2rem;
        display: flex;
    }
    .logo{
        width: 40vw;
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .logo #logo-img{
        margin-left: 5rem;
    }    
    .logo #hr{
        margin-left: 1rem;
        width: 100%;
        /* position: absolute; */
    }
    .icono{
        display: none;
    }
    .nav-area{
        width:60vw;
        background-color: rgba(128, 109, 109, 0.254);
        backdrop-filter: blur(10px);
    }
    .navigate{
        margin-left: 7rem;
        display: flex;
        align-items: center;
        /* justify-content: space-evenly; */
    }
    .link{
        margin: auto 1rem;
        display: flex;
        padding: 0rem 0.5rem;
        align-items: center;
        height: 5rem;
        color: rgba(255, 255, 255, 0.849);
        font-size: 1.2rem;
        font-family: 'Barlow Condensed', sans-serif;
        text-decoration: none;
        transition: 0.3s;
    }
    .mobile-nav{
        display: none;
    }
}
@media (min-width:350px) and (max-width:600px) {
    .navbar{
        margin-top: 2rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }
    .logo{
        margin-left: 2rem;
    }
    .icono{
        margin-left: 10rem;
    }
    .logo #hr{
        display: none;
    }
    .navigate{
        display: none;
    }
    .mobile-nav{
        /* margin-top: 2rem; */
        /* margin-right:; */
        display: none;
        position: fixed;
        /* left: 65%; */
        /* position: absolute; */
        top: 0px;
        width: 35%;
        background-color: rgba(128, 109, 109, 0.254);
        backdrop-filter: blur(10px);
        /* background-color: rgba(0,0,0,0.5);  */
        /* z-index:2; */

    }
    .mobile-nav #close{
        float: right;
        margin:-2rem 0rem 0rem 0rem;
    }
    .overlay{
        margin-top:5rem;
        margin-right: 3rem;
        z-index: 1000;
    }
    .link{
        /* width: 6rem; */
        margin: 1rem 0rem;
        font-size: 1rem;
        display: flex;
        /* padding: 0rem 1rem; */
        text-decoration: none;
        height: 2rem;
        color: rgba(255, 255, 255, 0.849);
        font-family: 'Barlow Condensed', sans-serif;
        transition: 0.3s;
    }
    .toggle{
        /* display: block!important; */
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: end;
    }
    
}

.link:hover{
    box-shadow:inset 0px -3px 0px 0px white;
    cursor: pointer;
    transform: scaleX(1.2);

}
.active{
    box-shadow:inset 0px -3px 0px 0px white;
    transform: scaleX(1.2);
    filter: brightness(200%);
}


